<div class="text-center">

<p><%= @user.name %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>User image:</strong>
  <%= @user.user_image %>
</p>
